@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="UTF8"/>
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet"/>
    <link href="~/Content/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/adminStyles.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet"/>
    <link href="~/Content/bootstrap-datetimepicker-build.css" rel="stylesheet"/>
    <link href="~/Content/chosen.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/metro-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/sweetalert.css" rel="stylesheet" />
</head>
<body>
<div>
    @if (TempData["message"] != null)
    {
        <div class="alert alert-success">@TempData["message"]</div>
    }
    @RenderBody()
</div>



    @*<script src="~/scripts/jquery-1.10.2.js"></script>*@
    <script src="~/scripts/jquery-1.11.3.js"></script>
    <script src="~/scripts/moment-with-locales.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/bootstrap-datetimepicker.js"></script>
    <script src="~/scripts/jquery.validate.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/scripts/fullcalendar.min.js"></script>
    <script src="~/scripts/myCalendar.js"></script>
    <script src="~/scripts/chosen.jquery.min.js"></script>
    <script src="~/scripts/myScriptsAdmin.js"></script>
    <script src="~/scripts/sweetalert.min.js"></script>
<script type="text/javascript">
    $(function() {
        $("#EventCategoryID").change(function() {
            var val = $(this).val();
            var subItems = "";
            $.getJSON("@Url.Action("GetSubcategory", "Admin")", { id: val }, function(data) {
                $.each(data, function(index, item) {
                    subItems += "<option value='" + item.Value + "'>" + item.Text + "</option>"
                });
                $("#EventSubCategoryID").html(subItems)
            })
        })
    })
</script>
</body>
</html>
