<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet"/>
    <link href="~/Content/metro-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/myStyles.min.css" rel="stylesheet"/>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <link href="~/Content/easy-autocomplete.min.css" rel="stylesheet" />
    <link href="~/Content/easy-autocomplete.themes.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/img/tickets_icon.ico">

    <title>@ViewBag.Title</title>
</head>
<body>
  @Html.Action("NavBar", "Event")

<div class="container body-content">
        @RenderBody()
</div>


        <script src="~/scripts/jquery-1.11.3.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>  
        <script src="~/scripts/jquery.easy-autocomplete.min.js"></script>
        <script src="~/scripts/bootstrap.min.js"></script>
        <script src="~/scripts/jquery.validate.js"></script>
        <script src="~/scripts/jquery.validate.unobtrusive.js"></script>
        <script src="~/scripts/blazy.min.js"></script>
        <script src="~/scripts/less.js"></script>
        <script src="~/scripts/navbarHover.js"></script>
        <script src="~/scripts/readmore.min.js"></script>
        <script src="~/scripts/myScripts.js"></script>
</body>
</html>