@model TicketReservation.Domain.Entities.Event

<div class="well">
    <h3>
        <strong>@Model.EventName</strong>
        <span class="pull-right label label-primary">@Model.EventStartDateTime , @Model.Category.EventCategoryName</span>       
    </h3>
    <span class="lead">@Model.OtherDetails</span>
</div>
