@model TicketReservation.Models.CategoryViewModel
<div id="nav-first-row">
    <div class="hidden-xs">
        <a href="#" class="navbar-left logo"><img src="/img/tickets.png"></a>
    </div>
    <div class="col-md-4 col-xs-5 visible-xs">
        <img class="logo_mobile" src="/img/logo_mobile.png"/>
    </div>
    <div id="nav-center" class="hidden-xs">
        <p class="company_whole_name" onselectstart="return false"> <span class="company_name_1">Ticket</span><span class="company_name_2"> Hunter</span></p>
        <form>
            <input type="text" class="search" placeholder="wydarzenie,miejsce,artysta" required>
            <input type="button" class="button" value="Szukaj">
        </form>
    </div>
</div>
<nav class="navbar navbar-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                @foreach (var e in Model.Categories)
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle category" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="@e.Icon" id="iconsNavbar"></i>@e.EventCategoryName<span class="caret"></span></a>

                        @*@Html.RouteLink(e.EventCategoryName, new { controller = "Event", action = "List", category = e.EventCategoryID })*@

                        <ul class="dropdown-menu">
                            @foreach (var sub in e.SubCategories.Where(x => x.EventCategoryID == e.EventCategoryID))
                            {
                                <li>@Html.RouteLink(sub.EventSubCategoryName, new { controller = "Event", action = "List", categoryId = sub.EventSubcategoryID })</li>
                                @*<li><a href="#">@sub.EventSubCategoryName</a></li>*@
                            }
                        </ul>
                    </li>
                }
            </ul>                     
        </div>
    </div>
</nav>
