
@model TicketReservation.Models.EventsViewModel

@{
    ViewBag.Title = "List";
}

@foreach (var e in Model.Events)
{
    <div>
        <h3>@e.EventName</h3>
        @e.OtherDetails
        <div>Zaczynamy: @e.EventStartDateTime </div>
        

    </div>
}
