@using TicketReservation.Domain.Entities
@model IEnumerable<Event>

@{
    ViewBag.Title = "List";
}

@foreach (var e in Model)
{
    <div>
        <h3>@e.EventName</h3>
        @e.OtherDetails
        <div>Zaczynamy: @e.EventStartDateTime </div>
        

    </div>
}
