@model TicketReservation.Domain.Entities.Events

@{
    ViewBag.Title = Model.EventName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="thumbnail">
            <img src="@Url.Action("GetImage", "Event", new {Model.EventID})" alt="">
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
        <p class="eventTitle">@Model.EventName</p>
        <p>@Model.OtherDetails</p>
    </div>
</div>

@Html.Partial("TicketSummary",Model)
    
