@{
    ViewBag.Title = "Administracja: logowanie";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="Panel">
    <div class="panel-heading">
        <h3>Zaloguj się</h3>
    </div>
    <div id="rectangle">
        
    </div>
</div>