
@{
    ViewBag.Title = "MemberProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profil użytkownika</h2>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Moje bilety</a></li>
    <li role="presentation"><a href="#">Moje dane</a></li>
    <li role="presentation"><a href="#">Adresy dostawy</a></li>
    <li role="presentation"><a href="#">Dane do faktury</a></li>
    <li role="presentation"><a href="#">Dezaktywacja konta</a></li>
</ul>
